sudo: false
language: python
matrix:
  include:
    - python: "3.5"
      env: LTD_MASON_BUILD=true
install:
  - pip install -r requirements.txt
  - pip install "ltd-mason>=0.2,<0.3"
script:
  - sphinx-build -b linkcheck -a -n -W -d _build/doctree . _build/linkcheck
  - sphinx-build -b html -a -n -W -d _build/doctree . _build/html
after_success:
  - ltd-mason-travis --html-dir _build/html
env:
  global:
    - LTD_MASON_BUILD=false  # disable builds in regular text matrix
    - LTD_MASON_PRODUCT="ldm-493"
    - secure: "5BhdA43IZ4UEPU1FsfcX1QJmobk2tahArl9vESX5cchTRSTJy8qt9W5MetqX9mZ1jwiGT+Fy9A1ZozBp6J2TAziPgatv8veGPFOTxIbtbLBMX91OWHz4x9n1CbTCBLwTUDoTsHxKAkJhzb8PVjLfUuO78WMLqss1cu511tlotZISGUqIXAbaTK8GE3FAtWSPLrx5y7T53+dTobm6a07YX3KpM00DU85xQvvjumnDGONMRoh0Y7QHFBfu/21ZfcmNIUK4MfariJKpJQSLKqr9bfGLcLLarc/ikJTZXLwfXCUxtFITTwKSHbboP8IaABlVNR8kea1Ob1WF1pCjlLHCjDe7Sy+rFFEGzzswFlXnGJI4vZMbdvAHO7w9mWSMpS9x3+IYfrHTZkpNAMo6xDzkIBf+z4Ysd8zgx5JmPDcOC8e/fLlJo8tphvRoBPuqyFNu+4SL0pd0av4baMoybTJPr5d/MAX2JT1en1MmgvE02XCHZCwWlKGQDFDbrPZsiNnzWO13uYyZqX4CRrRhpXlcoZ9/xhNGu0OEvq+WpMZryxbWnY8o2a7ukJTd7DXMAKKW2A5JRGEIgcFVcx00/PA/AUk49X91jIIMynZiGPgwz9cRDKEORse7txbixXD8S22oskNXjpRsOfLI9gYMva1Vp+zXErPglYh5fZkZVvplnUI="
    - secure: "rG+RRnw87V1gkD0IMb1mH8Tv/HfAHv+6rIIQBB1wji+ahotPHXZlKHK0TnIgXE/5NnPR2tyz70Rszp/ryv4OSahOB5rJQJFniPZXqMTwhbHcj4U1djdrXzjLDmqMGjthIgHXSwtnL2gAHNe5dG4kTFB/bFFp2/E2aB2LuvAldnWsqxgmqC7IOoOV2ucesWsFv8CLnyMQWH2ZQ8oYS4vSXzkgqroWuCjVX9l3vDEO4I8R1FO4BOU9mTZOD/Pr/B1ZKAso4h1LjjWOAR+x9NcFLEEiDGlIO5k4yGQQ8eoa4Y6NkR51Yv9+BthLK6m7fhpLL5HpuBRQQaomgiCrd7bsa7dh8E77zN0pMg0L9SNnxrQxtTEzQtaWgzsiRIc6mzylW+qlISN6AjU91Ua95GHo0pCR5DhnWIpRn0a4LFaMeDcH9IDq8DY5NgxiCaAqJcXpSqFcrMDY4PQKfzNqfaftlw2NOutfO0nL2RgD8NJYtplH9Gnyfh0Sfk7bQg2ZA9G/QWuV5HpuMokUssw5d0bKd7bFX13dbgvzJaL0vJQ4E9B6uDBAY76J2Kg+Kveu2ILXaStsUZ+97xPyI1RHXFbCmWo5xw/96L++Z5/UCL2DyN0L3b31s3j1d9tfNZ0wQ7hDkSTkqeWHnKV444j62+2AOx9LAC9uzqM9avwe9qqc/rk="
